<script>
    var html2json = (function html2json() {
        var Util = {
            div : null,
            attrs: "id,name,style,class,value,src,href,width,height,title,type".split(","),
            getJson : function(childNodes, attrs, length) {
                var result = [];
                for ( var i = 0, len = childNodes.length; i < len; i++) {
                    var item = childNodes[i];
                    if (item.nodeType == 3) {
                        result.push({
                            text : item.nodeValue
                        })
                    } else if (item.nodeType == 1) {
                        var obj = {
                            tag : item.nodeName.toLowerCase(),
                            attr : {}
                        };
                        var flag = false;
                        //for ie6
                        if(attrs){
                            for(var j = 0; j < length; j++){
                                if(attrs[j] == 'style'){
                                    var sStyle = item.getAttribute('style').cssText;
                                    if(sStyle){
                                        obj.attr["style"] = sStyle;
                                        flag = true;
                                    }
                                }else{
                                    var attrNode = item.attributes[attrs[j]];
                                    if(attrNode && attrNode.nodeType === 2){
                                        var value = attrNode.value;
                                        if(value && value != 'null'){
                                            obj.attr[attrs[j]] = value;
                                            flag = true;
                                        }
                                    }
                                }
                            }
                        }else{
                            if (item.attributes.length) {
                                for ( var n = 0, l = item.attributes.length; n < l; n++) {
                                    var value = item.attributes[n].value;
                                    if(value){
                                        flag = true;
                                        obj.attr[item.attributes[n].name] = value;
                                    }
                                }
                            }
                        }
                        if(! flag){
                            delete obj.attr;
                        }
                        if (item.childNodes.length < 1) {
                            var text = item.innerText;
                            if(text){
                                obj.text = item.innerText;
                            }
                        } else {
                            obj.child = Util.getJson(item.childNodes, attrs, length);
                        }
                        result.push(obj);
                    } else {
                        // do nothing
                    }
                }
                return result;
            }
        }
        /**
         * [html2json]
         * @param  {[text]} text
         * @param  {[function]} stringify
         * @return {[text]}
         */
        var html2json = function(text, stringify, attrs) {
            if (!Util.div) {
                Util.div = document.createElement('div');
            }
            Util.div.innerHTML = text;
            var ie6 = /MSIE 6/.test(navigator.userAgent), allAttrs, len;
            if(ie6){
                allAttrs = Util.attrs;
                if(Object.prototype.toString.call(stringify).indexOf("Array")){
                    attrs = stringify;
                }
                attrs = attrs || [];
                for(var i = 0, len = attrs.length; i < len; i++){
                    allAttrs.push(attrs[i]);
                }
                len = allAttrs.length;
            }
            var result = Util.getJson(Util.div.childNodes, allAttrs, len);
            return (window.JSON && JSON.stringify || stringify)(result);
        };
        return html2json;
    })();
</script>
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="jQuery formBuilder: A jQuery plugin for drag and drop form creation">
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/demo.css">
  <!-- Only include on form edit page -->
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/form-builder.css">
  <!-- Only include on form render page -->
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/form-render.css">
  </head>

<body>
 
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
   
        <div class="build-form">
          <a href="{{url_for('index.services')}}">go back to services </a>
          <h2><strong>Build You Task </strong></h2>
          <a href="{{url_for('index.services')}}">pick a crowd  </a>
         
          
        </div>
        <button id="render-form-button" class="btn btn-primary">Create Task</button>
          <div class="render-form">
          <h2><strong>Render The Form</strong></h2>
          <form id="rendered-form">
            <form action="this is the action">
            <input type="text" name="task_name" placeholder="task name"/>
            <textarea >description of the task</textarea>
            <textarea name="form-builder-template" id="form-builder-template" cols="30" rows="10"></textarea>
          </form>
          </form>
          
        </div>
         
    <!-- FOOTER  -->
  
  </div>
  
  <script src="../../static/assets/jquery.min.js"></script>
  <script src="../../static/assets/jquery-ui.min.js"></script>
  <!-- Only include on form edit page -->
  <script src="../../static/assets/form-builder.min.js"></script>
  <!-- Only include on form render page -->
  <script src="../../static/assets/form-render.min.js"></script>
  <script>

  jQuery(document).ready(function($) {
    'use strict';
    var template = document.getElementById('form-builder-template'),
      formContainer = document.getElementById('rendered-form'),
      renderBtn = document.getElementById('render-form-button');
    $(template).formBuilder();

    $(renderBtn).click(function(e) {
      e.preventDefault();
      $(template).formRender({
        container: $(formContainer)
      });
      var data = new FormData();

var d =window.html2json(formContainer.innerHTML);
data.append("task_data", d);

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === 4) {
    console.log(this.responseText);
  }
});

xhr.open("POST", "{{url_for('index.task_data',_external=True)}}");
xhr.setRequestHeader("cache-control", "no-cache");

xhr.send(data);
    console.log(formContainer);
   //window.location = "{{url_for('index.crowd_selection')}}"
    });

  });


  </script>

</body>

</html>
