<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="jQuery formBuilder: A jQuery plugin for drag and drop form creation">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/demo.css">
  <!-- Only include on form edit page -->
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/form-builder.css">
  <!-- Only include on form render page -->
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/assets/form-render.css">
  </head>

<body>
 
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
   
        <div class="build-form">
          <h2><strong>Build You Task Form</strong></h2>
          <form action="">
            <textarea name="form-builder-template" id="form-builder-template" cols="30" rows="10"></textarea>
          </form>
          <br style="clear:both">
        </div>
        <button id="render-form-button" class="btn btn-primary">Render form</button>
          <div class="render-form">
          <h2><strong>Render The Form</strong></h2>
          <form id="rendered-form">
            <p class="cta">Add some fields to the formBuilder above and render them here.</p>
          </form>
          
        </div>
         
    <!-- FOOTER  -->
  
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- Only include on form edit page -->
  <script src="../../static/assets/form-builder.min.js"></script>
  <!-- Only include on form render page -->
  <script src="../../static/assets/form-render.min.js"></script>
  <script>
  jQuery(document).ready(function($) {
    'use strict';
    var template = document.getElementById('form-builder-template'),
      formContainer = document.getElementById('rendered-form'),
      renderBtn = document.getElementById('render-form-button');
    $(template).formBuilder();

    $(renderBtn).click(function(e) {
      e.preventDefault();
      $(template).formRender({
        container: $(formContainer)
      });
    console.log(formContainer);
    });

  });
  </script>
    
</body>

</html>
