<!DOCTYPE html>
{% from "macros/_flashing.html" import flash_messages %}
<html>
<head>
    <title>Nanrow</title>
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    {% block styles %}{% endblock %}
</head>
<body>
    <center>
   <h1>landing page</h1>
   <center>
    <h2>contributor signup/login</h2>
    <h2>costumer signup/login</h2>
</body>

</html >